*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

/*
#0096ff ==> azul
#ffd200 ==> amarillo
#2d3f99 ==> oscuro
*/

/*HEADER*/
header{
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
a:visited {
    color:#ffd200;
}
.estilos_nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,63,153,1) 50%, rgba(0,150,255,1) 100%);
    font-size: 2.5rem;
}
.logo{
    height: 100px;
    width: 100%;
}
nav ul {
    width: 100%;
    color: #ffd200;
    justify-content: end;
}

/*MAIN*/
h1{
    color: #ffd200;
    font-size: 7rem;
    display: flex;
    margin-left: 50px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.nosotros{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,63,153,1) 50%, rgba(0,150,255,1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}
.texto_nosotros{
    width: 800px;
    font-size: 2.5rem;
    margin-left: 30px;
    color: white;
    padding: 50px;
}
@media (min-width:320px) and (max-width:1024px){
    h1{
        margin-top: 50px;
    }
}

/*SERVICIOS*/
.subtitulo_servicios{
    color: #ffd200;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.col{
    background-color: #2d3f99;
    text-align: center;
    font-size: 30px;
    border: 5px solid #ffd200;
    color: white; 
    height: 100px;
    width: 350px;
    margin: 30px;
}

/*EQUIPO*/
.subtitulo_equipo{
    color: #ffd200;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container_equipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}
.container_foto{
    display: flex;
    flex-direction: column;
}
.foto{
    height: 500px;
}
.nombre{
    font-size: 2rem;
    text-align: center;
}

/*FOOTER*/
footer{
    background-color: #0096ff;
    width: 100%;
    padding-bottom: 10px;
}
footer ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
footer p, footer li{
    font-size: 2rem;
    color: white;
    text-align: center;
    list-style: none;
}
.derechos_protegidos{
    padding-top: 50px;
    padding-bottom: 20px;
}
.ubicacion{
    margin-left: 50px;
}
.contacto{
    display:flex;
    margin-bottom: 50px;
}

/* PAGINA NOSOTROS */
.grid_container{
    display: grid;
    grid-template-areas: "header header header" "menu main aside" "footer footer footer";
}
.item1{
   grid-area: header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: aside;
}
.item5{
    grid-area: footer;
}
h2{
    color: #ffd200;
    font-size: 7rem;
    margin-left: 50px;
}
.seccion_nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 2.5rem;
    color: black;
}
p{
    padding: 50px;
    flex-direction: row;
}
.contenido_valores{
    padding: 50px;
}

@media (min-width:320px) and (max-width:1024px){
    .seccion_nosotros{
        flex-direction: column;
    }
}

/* PAGINA SERVICIOS */
.contenido_servicios{
    font-size: 2.5rem;
    color: black;
    margin: 50px 100px 100px 100px;
}

/* PAGINA CLIENTES */
.carousel-item{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}
