@use "variables";

footer{
    .derechos{
        .contacto{
            display:flex;
        }
        padding-top: 10px;
        padding-bottom: 10px;
    }
    background-color: black;
    padding-bottom: 10px;
    font-size: variables.$sizeXs;
    color: white;
    text-align: center;
    list-style: none;
}
footer{
    ul{
        li{
            font-size: variables.$sizeXs;
            color: variables.$celeste;
            list-style: none;
        }
        display:flex;
        justify-content: space-around;
    }
}
