@use "variables";

header{
    .nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .estilos_nav{
        .logo{
            height: 100px;
            width: 100%;
        }
        background: white;
        font-size: variables.$sizeM;
    }
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

@media (min-width:320px) and (max-width:1024px){
    header{
        .nav{
            flex-direction: column;
        }
    }
}