$sizeL: 7rem;
$sizeM: 3rem;
$sizeS: 2.5rem;
$sizeXs: 1.5rem;
$yellow: #ffd200;
$bg-deg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,63,153,1) 50%, rgba(0,150,255,1) 100%);
$blue: #2d3f99;
$celeste: #0096ff;

@mixin d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}